.card {
  height: 170px;
  overflow: hidden;
}
.card_image {
  position: absolute;
  width: 210px;
}
.content {
  padding-left: 210px;
}
.card_title {
  font-size: 36px;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  
}
.voted {
  border: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
  .card_title {
    font-size: 28px;
    line-height: 0.9;
    
  }
  .card_image {
    width: 170px;
  }
  .content {
    padding-left: 180px;
  }
}
