.grid {
  height: 36px;
}
.grid .percentage {
  font-size: 18px;
  
}
.grid img {
  min-height: 15px !important;
  min-width: 15px !important;
  margin: 0 !important
}
.grid .pad_fix {
  padding-top: 0;
  white-space: nowrap;
}

.list {
  height: 54px;
}
.list .percentage {
  font-size: 27px;
  
}
.list img {
  min-height: 24px !important;
  min-width: 24px !important;
}
.list .pad_fix {
  padding-top: 0.5rem;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .list {
    height: 36px;
  }
  .list .percentage {
    font-size: 18px;
    
  }
  .list .pad_fix {
    padding-top: 0;
    line-height: 32px;
  }
}
